<ion-view>
    <ion-content class="background-blue-white" ng-cloak>
        <a ng-class="grid2" ng-click="requestPlaces('cafe', '', 2, 'Caffe Bar')">
            <div class="grid-icon">
                <img src="img/cafe.png"/>
            </div>
            <p>{{ 'COFFE_SHOPS' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid0" ng-click="requestPlaces('restaurant', '', 0, 'Restaurant')">
            <div class="grid-icon grid-middle">
                <img src="img/restoran.png"/>
            </div>
            <p>{{ 'RESTAURANTS' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid14" ng-click="requestPlaces('night_club', '', 14, 'Night Club')">
            <div class="grid-icon">
                <img src="img/bar.png"/>
            </div>
            <p>{{ 'NIGHT_CLUBS' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid6" ng-click="requestPlaces('lodging', '', 6, 'Hotel')">
            <div class="grid-icon">
                <img src="img/hotel.png"/>
            </div>
            <p>{{ 'HOTELS' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid7" ng-click="requestPlaces('finance', '', 7, 'Exchange Office')">
            <div class="grid-icon grid-middle">
                <img src="img/menjacnica.png"/>
            </div>
            <p>{{ 'FINANCE' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid8" ng-click="requestPlaces('bank|atm', '', 8, 'Bank')">
            <div class="grid-icon">
                <img src="img/bank.png"/>
            </div>
            <p>{{ 'BANKS' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid16" ng-click="requestPlaces('taxi_stand', '', 16, 'Taxi')">
            <div class="grid-icon">
                <img src="img/taxi.png"/>
            </div>
            <p>{{ 'TAXI' | translate | uppercase}}</p>
        </a>
        <a ng-class="grid12" ng-click="requestPlaces('car_rental', '', 12, 'Rent a Car')">
            <div class="grid-icon grid-middle">
                <img src="img/rent-a-car.png"/>
            </div>
            <p>{{ 'RENT_A_CAR' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid10" ng-click="requestPlaces('gas_station', '', 10, 'Gas Station')">
            <div class="grid-icon">
                <img src="img/pumpa.png"/>
            </div>
            <p>{{ 'GAS_STATIONS' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid11" ng-click="requestPlaces('parking', '', 11, 'Parking')">
            <div class="grid-icon">
                <img src="img/parking.png"/>
            </div>
            <p>{{ 'PARKING' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid5" ng-click="requestPlaces('car_repair', '', 5, 'Car Service')">
            <div class="grid-icon grid-middle">
                <img src="img/auto-servis.png"/>
            </div>
            <p>{{'AUTO_SERVICE' | translate | uppercase}}</p>
        </a>
        <a ng-class="grid9" ng-click="goWeather()">
            <div class="grid-icon">
                <img src="img/vreme.png"/>
            </div>
            <p>{{ 'WEATHER' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid17" ng-click="requestPlaces('shopping_mall', '', 17, 'Shopping')">
            <div class="grid-icon">
                <img src="img/shopping.png"/>
            </div>
            <p>{{ 'SHOPPING' | translate | uppercase}}</p>
        </a>
        <a ng-class="grid13"
           ng-click="requestPlaces('convenience_store|grocery_or_supermarket', '', 13, 'Supermarket')">
            <div class="grid-icon grid-middle">
                <img src="img/supermarket.png"/>
            </div>
            <p>{{ 'SUPERMARKETS' | translate | uppercase}}</p>
        </a>
        <a ng-class="grid1" ng-click="requestPlaces('pharmacy', '', 1, 'Pharmacy')">
            <div class="grid-icon">
                <img src="img/apoteka.png"/>
            </div>
            <p>{{ 'PHARMACIES' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid15" ng-click="requestPlaces('movie_theater', '', 15, 'Cinema')">
            <div class="grid-icon">
                <img src="img/bioskop.png"/>
            </div>
            <p>{{ 'CINEMA' | translate | uppercase}}</p>
        </a>
        <a ng-class="grid4" ng-click="requestPlaces('', 'theatre', 4, 'Theater')">
            <div class="grid-icon grid-middle">
                <img src="img/pozoriste.png"/>
            </div>
            <p>{{ 'THEATERS' | translate | uppercase }}</p>
        </a>
        <a ng-class="grid3" ng-click="requestPlaces('hospital', '', 3, 'HOSPITAL')">
            <div class="grid-icon">
                <img src="img/bolnica.png"/>
            </div>
            <p>{{ 'HOSPITALS' | translate | uppercase }}</p>
        </a>
    </ion-content>
</ion-view>