<ion-view>
    <ion-content class="background-blue-white">
        <ion-list class="single-list">
            <ion-item class="single-item no-sponsored-item" ng-repeat="sponsoredplace in sponsoredPlaces | orderBy:'km'"
                      ng-click="goSponsoredMap(sponsoredplace.name, sponsoredplace.address, sponsoredplace.km, sponsoredplace.meters)">
                <div class="row pay-list">
                    <div class="star-img col-15">
                        <img src="http://placebook.mediarevolution.rs/{{sponsoredplace.thumbnail.url}}">
                    </div>
                    <div class="single-list-row col-60">
                        <p class="single-name col">{{sponsoredplace.name}}</p>
                        <h2 class="place-mail col">{{sponsoredplace.address}}</h2>
                    </div>
                    <div ng-if="sponsoredplace.km >= 1" class="km-and-min row col-25">
                        <i class="icon ion-navigate placeholder-icon navigate-icon navigation-icon-category-single col-33"></i>
                        <p class="distance-and-time col-67">{{sponsoredplace.km.toFixed(1)}} km</p>
                    </div>
                    <div ng-if="sponsoredplace.km < 1" class="km-and-min row col-25">
                        <i class="icon ion-navigate placeholder-icon navigate-icon navigation-icon-category-single col-33"></i>
                        <p class="distance-and-time col-67">{{sponsoredplace.meters.toFixed()}} m</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-list class="single-list">
            <ion-item class="single-item no-sponsored-item"
                      ng-repeat="place in places | orderBy:'distance.distance.value' | limitTo:numberOfItemsToDisplay"
                      ng-click="goMap(place.geometry.location.lat, place.geometry.location.lng, place.info.vicinity, place.place_id, place.distance)">
                <div class="row pay-list free-places">
                    <div class="star-img col-15">
                        <img ng-src="{{categorieImage}}">
                    </div>
                    <div class="single-list-row col-60">
                        <p ng-if="place.info.name" class="single-name col">{{place.info.name}}</p>
                        <h2 ng-if="place.info.vicinity" class="place-mail col">{{place.info.vicinity}}</h2>
                    </div>
                    <div class="km-and-min row col-25">
                        <i ng-if="place.distance" class="icon ion-navigate placeholder-icon navigate-icon navigation-icon-category-single col-33"></i>
                        <p ng-if="place.distance" class="distance-and-time col-67">{{place.distance}}</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                immediate-check="false"
                on-infinite="loadMore(numberOfItemsToDisplay)"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <div ng-if="ad != undefined" ng-class="footerReklama" class="bar bar-footer bar-balanced footer-number2">
        <div class="footer2-img">
            <img ng-click="goAds()" ng-src="http://placebook.mediarevolution.rs/{{ad.image.url}}">
            <i ng-click="closeAd()" class="icon ion-close-circled footer2-exit-btn"></i>
        </div>
    </div>
</ion-view>