<ion-view>
	<ion-content class="background-blue-white">
		<div class="item-input-wrapper search-position">
	        <form class="search-form row">
		        	<input ng-model="searchInput" type="search" placeholder="{{'SEARCH' | translate}}" class="col-90 input-search">
		        <div class="col-10">
		        	<button type="submit" class="button button-stable search-btn" ng-click="search(searchInput); searchInput = '';"><img src="img/active-search.png"></button>
		        </div>
		    </form>
		</div>
		<p ng-show="empty" class="empty-search">{{'EMPTY_SEARCH' | translate}}</p>
	    <ion-list class="single-list">
	    	<ion-item ng-if="searchInput == '' || searchInput == null" class="single-item search-single-item" ng-click="setCurrent()" >
	          <div class="row pay-list">
	            <div class="single-list-row col-67">
	              <p class="single-name col">{{'CURRENT_LOCATION' | translate}}</p>
	            </div>
	          </div>
	        </ion-item>
	        <ion-item class="single-item search-single-item" ng-repeat="place in searchedPlaces" ng-click="changeLocation(place.place_id, place.description)" >
	          <div class="row pay-list">
	            <div class="single-list-row col-67">
	              <p class="single-name col">{{place.description}}</p>
	            </div>
	          </div>
	        </ion-item>
	    </ion-list>
	</ion-content>
	<div ng-if="ad != undefined" ng-class="footerReklama" class="bar bar-footer bar-balanced footer-number2">
      <div class="footer2-img">
        <img ng-click="goAds()" ng-src="http://placebook.mediarevolution.rs/{{ad.image.url}}">
        <i ng-click="closeAd()" class="icon ion-close-circled footer2-exit-btn"></i>
      </div>
  </div>
</ion-view>