<ion-view>
	<ion-content>
		<ng-map zoom="14" center="{{center}}" scrollwheel="true" zoom-to-include-markers="true">
			<marker position="{{currentAddres}}" title="{{myAddress}}"
			icon="{
			url:'img/krug.png'
			}"></marker>
			<marker position="{{center}}" title="{{address}}" 
			ng-click="googleMapGo()"></marker>
		</ng-map>
	</ion-content>
	<div class="tabs tabs-icon-only map-tabs-icon">
		  <a class="tab-item tab-photo-left" ng-click="googleMapGo()">
		   <img src="img/strelica.png">
		  </a>
		  <a ng-click="call()" class="tab-item">
		    <i class = "icon ion-ios-telephone phone-image"></i>
		  </a>
		  <a ng-click="zoom()" class="tab-item tab-photo-right">
		    <i class = "icon ion-ios-search"></i>
		  </a>
	</div>
	<ion-footer-bar class="bar-assertive">

		    <div class="row item-thumbnail-left place-footer-map">
				<div class="col-80 place-details">
					<div class="row navigation-km-icon">
						<div class="col-15 navigation-icon">
							<i class="icon ion-navigate placeholder-icon navigate-icon"></i>
						</div>
					<p class="col-15 km-distance">{{distance}}</p>
					</div>
					<h2 class="place-name-map">{{name}}</h2>
					<div class="row icon-text-details">
				      	<i class="icon ion-location placeholder-icon icon-small-1 col-5 icon-small-color"></i>
				      	<p class="col-90 position-details-text">{{address}}</p>
			      	</div>
			      	<div class="row icon-text-details" ng-show="phoneshow">
				      	<i class="icon ion-iphone placeholder-icon icon-small-2 col-5 icon-small-color"></i>
				      	<p class="col-90 position-details-text">{{phone_number}}</p>
			      	</div>
					<div ng-click="goWebsite()" class="row icon-text-details" ng-show="websiteshow">
				      	<i class="icon ion-earth placeholder-icon col-5 icon-small-color"></i>
				      	<p class="col-90 position-details-text">{{website}}</p>
			      	</div>
			      	<div class="row icon-text-details" ng-show="timeshow">
				      	<i class="icon ion-clock placeholder-icon col-5 icon-small-color"></i>
				      	<p class="col-90 position-details-text">{{open}} - {{close}}</p>
			      	</div>
				</div>
				<div class="row raiting" ng-show="ratingshow">
						<div class="col-15 star-img-map-footer">
							<img src="img/star.png">
						</div>
					<p class="col-15">{{rating}}</p>
				</div>
		    </div>
			<div ng-if="ad != undefined" ng-class="footerReklama" class="bar bar-footer bar-balanced footer-number2">
	  			<div class="footer2-img">
	  				<img ng-click="goAds()" ng-src="http://placebook.mediarevolution.rs/{{ad.image.url}}">
	  				<i ng-click="closeAd()" class="icon ion-close-circled footer2-exit-btn"></i>
	  			</div>
			</div>
	</ion-footer-bar>
</ion-view>