<ion-view>
	<ion-content class="background-blue-white">
		<ion-list class="settings-langs">
			<ion-item class="text-center settings-divider item-divider">
			  	<p>{{'CHANGE_LANGUAGE' | translate}}</p>
			</ion-item>
			<ion-radio ng-click="changeLang('en')" ng-model="language" ng-value="'en'" name="language">
				<div class="flag">
					<img src="img/great_britain.png"/>
				</div> English
			</ion-radio>
			<ion-radio ng-click="changeLang('fr')" ng-model="language" ng-value="'fr'" name="language">
				<div class="flag">
					<img src="img/france.png"/>
				</div> Français
			</ion-radio>
			<ion-radio ng-click="changeLang('de')" ng-model="language" ng-value="'de'" name="language">
				<div class="flag">
					<img src="img/germany.png"/>
				</div> Deutsch
			</ion-radio>
			<ion-radio ng-click="changeLang('it')" ng-model="language" ng-value="'it'" name="language">
				<div class="flag">
					<img src="img/italy.png"/>
				</div> Italiano
			</ion-radio>
			<ion-radio ng-click="changeLang('sr')" ng-model="language" ng-value="'sr'" name="language">
				<div class="flag">
					<img src="img/serbia.png"/>
				</div> Srpski
			</ion-radio>
			<ion-radio ng-click="changeLang('sv')" ng-model="language" ng-value="'sv'" name="language">
				<div class="flag">
					<img src="img/sweden.png"/>
				</div> Svenska
			</ion-radio>
			<ion-radio ng-click="changeLang('tr')" ng-model="language" ng-value="'tr'" name="language">
				<div class="flag">
					<img src="img/turkey.png"/>
				</div> Türkçe
			</ion-radio>
			<ion-radio ng-click="changeLang('el')" ng-model="language" ng-value="'el'" name="language">
				<div class="flag">
					<img src="img/greece.png"/>
				</div> Elláda
			</ion-radio>
			<ion-radio ng-click="changeLang('sl')" ng-model="language" ng-value="'si'" name="language">
				<div class="flag">
					<img src="img/si.png"/>
				</div> Slovenščina
			</ion-radio>
			<ion-radio ng-click="changeLang('hu')" ng-model="language" ng-value="'hu'" name="language">
				<div class="flag">
					<img src="img/hu.png"/>
				</div> Magyar
			</ion-radio>
			<ion-radio ng-click="changeLang('cn')" ng-model="language" ng-value="'cn'" name="language">
				<div class="flag">
					<img src="img/cn.png"/>
				</div> 中國
			</ion-radio>
		</ion-list>
		<ion-list class="settings-langs">
			<ion-item class="text-center settings-divider item-divider">
			  	<p>{{'CHANGE_FORMAT' | translate}}</p>
		  	</ion-item>
			<ion-radio ng-click="changeUnits('metric')" ng-model="units" ng-value="'metric'" name="units">° Celsius</ion-radio>
			<ion-radio ng-click="changeUnits('imperial')" ng-model="units" ng-value="'imperial'" name="units">° Fahrenheit</ion-radio>
			<ion-radio ng-click="changeUnits('')" ng-model="units" ng-value="''" name="units">° Kelvin</ion-radio>
		</ion-list>
	</ion-content>
	<div ng-if="ad != undefined" ng-class="footerReklama" class="bar bar-footer bar-balanced footer-number2">
      <div class="footer2-img">
        <img ng-click="goAds()" ng-src="http://placebook.mediarevolution.rs/{{ad.image.url}}">
        <i ng-click="closeAd()" class="icon ion-close-circled footer2-exit-btn"></i>
      </div>
  </div>
</ion-view>