<ion-view>
	<ion-content>
		<ng-map zoom="14" center="{{sponsoredCenter}}" scrollwheel="true" zoom-to-include-markers="true">
			<marker position="{{sponsoredCurrentAddres}}" title="{{myAddress}}"
			icon="{
			url:'img/krug.png'
			}"></marker>
			<marker position="{{sponsoredCenter}}" title="{{address}}" 
			ng-click="googleMapGo()"></marker>
		</ng-map>
	</ion-content>
	<div class="tabs tabs-icon-only map-tabs-icon">
		  <a class="tab-item tab-photo-left" ng-click="googleMapGo()">
		   <img src="img/strelica.png">
		  </a>
		  <a ng-click="call()" class="tab-item">
		    <i class = "icon ion-ios-telephone phone-image"></i>
		  </a>
		  <a ng-click="zoom()" class="tab-item tab-photo-right">
		    <i class = "icon ion-ios-search"></i>
		  </a>
	</div>
	<ion-footer-bar class="bar-assertive">
		    <div class="row item-thumbnail-left place-footer-map">
				<div class="col-67 place-details">
					<div ng-if="sponsoredKm >= 1" class="row navigation-km-icon">
						<div class="col-15 navigation-icon">
							<i class="icon ion-navigate placeholder-icon navigate-icon"></i>
						</div>
						<p class="col-15 km-distance">{{sponsoredKm.toFixed(1)}} km</p>
					</div>
					<div ng-if="sponsoredKm < 1" class="row navigation-km-icon">
						<div class="col-15 navigation-icon">
							<i class="icon ion-navigate placeholder-icon navigate-icon"></i>
						</div>
						<p class="col-15 km-distance">{{sponsoredMeters.toFixed()}} m</p>
					</div>
					<h2 class="place-name-map">{{sponsoredName}}</h2>
					<div class="row icon-text-details">
				      	<i class="icon ion-location placeholder-icon icon-small-1 col-5 icon-small-color"></i>
				      	<p class="col-90 position-details-text">{{sponsoredAddress}}</p>
			      	</div>
			      	<div class="row icon-text-details" ng-show="phoneshow">
				      	<i class="icon ion-iphone placeholder-icon icon-small-2 col-5 icon-small-color"></i>
				      	<p class="col-90 position-details-text">{{sponsoredPhone}}</p>
			      	</div>
					<div class="row icon-text-details" ng-show="emailshow">
				      	<i class="icon ion-earth placeholder-icon col-5 icon-small-color"></i>
				      	<p class="col-90 position-details-text">{{sponsoredEmail}}</p>
			      	</div>
			      	<div class="row icon-text-details">
				      	<i class="icon ion-clock placeholder-icon col-5 icon-small-color"></i>
				      	<p class="col-90 position-details-text">{{sponsoredWorkHours}}</p>
			      	</div>
				</div>
				<div class="col-33">
					<div class="slider-main-smaller">
						    <div class="item border-item item-text-wrap">
								<div class="button-bar main-slider-pic">
								  <img class="" ng-click="openModal()" src="http://placebook.mediarevolution.rs/{{sponsoredImages[0].url}}">
								</div>
							</div>
							<div class="item border-item item-text-wrap">
								<div class="button-bar smaller-slider">
									<div class="smaller-slider-pic"><img ng-click="goToSlide(1)" ng-src="http://placebook.mediarevolution.rs/{{sponsoredImages[1].url}}"></div>
									<div class="smaller-slider-pic"><img class="smaller-slider-pic" ng-click="goToSlide(2)" ng-src="http://placebook.mediarevolution.rs/{{sponsoredImages[2].url}}"></div>
									<div class="smaller-slider-pic"><img class="smaller-slider-pic" ng-click="goToSlide(3)" ng-src="http://placebook.mediarevolution.rs/{{sponsoredImages[3].url}}"></div>
								</div>
				            </div>
			        </div>
				</div>
 				<div ng-if="ad != undefined" ng-class="footerReklama" class="bar bar-footer bar-balanced footer-number2">
	  				<div class="footer2-img">
	  					<img ng-click="goAds()" ng-src="http://placebook.mediarevolution.rs/{{ad.image.url}}">
	  					<i ng-click="closeAd()" class="icon ion-close-circled footer2-exit-btn"></i>
	  				</div>
				</div>
		    </div>
	</ion-footer-bar>
</ion-view>
