<ion-view>
	<ion-content class="background-blue-white">
		<div class="row weather">
			<div class="weather-name text-center col-67">
				<p>{{weather.name}}</p>
			</div>
			<div class="weather-temp text-center col-33">
				<p>{{weather.value}}° {{format}}</p>
				<img src="{{weather.img}}"/>
			</div>
		</div>
		<ion-list>
	        <ion-item class="weather-list" ng-repeat="day in forecast">
	        	<div class="row">
					<div class="weather-list-date">
						<p>{{day.date}}</p>
					</div>
				</div>
				<div ng-repeat="eachTime in day.time">
					<div class="row">
						<div class="col-50 weather-list-date weather-list-date-time">
							<p>{{eachTime.time}}</p>
						</div>
						<div class="text-center col-50 weather-list-temp">
							<div class="row">
								<div class="col-50 weather-celsius">
									<p>{{eachTime.main.temp.toFixed()}}° {{format}}</p>
								</div>
								<div class="col-50 forecast-img">
									<img src="http://openweathermap.org/img/w/{{eachTime.weather[0].icon}}.png"/>
								</div>
							</div>
						</div>
					</div>
				</div>
	        </ion-item>
	    </ion-list>
	</ion-content>
	<div ng-if="ad != undefined" ng-class="footerReklama" class="bar bar-footer bar-balanced footer-number2">
      <div class="footer2-img">
        <img ng-click="goAds()" ng-src="http://placebook.mediarevolution.rs/{{ad.image.url}}">
        <i ng-click="closeAd()" class="icon ion-close-circled footer2-exit-btn"></i>
      </div>
  </div>
</ion-view>