<div class="modal image-modal transparent">
    <ion-slide-box on-slide-changed="slideChanged(index)"
                   show-pager="false">
        <ion-slide ng-repeat="img in sponsoredImages">
            <div class="modal-close-div" ng-click="closeModal()"></div>
            <img ng-src="http://placebook.mediarevolution.rs/{{img.url}}" class="fullscreen-image"/>
        </ion-slide>
    </ion-slide-box>
    <div class="swipe-arrow-left" ng-click="previous()">
        <button class="button button-icon button-clear button-light ion-ios-arrow-back swipe-button-left"></button>
    </div>
    <div class="swipe-arrow-right" ng-click="next()">
        <button class="button button-icon button-clear button-light ion-ios-arrow-forward right swipe-button-right"></button>
    </div>
</div>
