<ion-popover-view>
  <ion-content>
      <ion-list class="menu-list">
        <ion-item class="menu-item" menu-close ui-sref="settings" ng-click="menuGo('settings'); popover.hide()">
          {{'SETTINGS' | translate}}
        </ion-item>
        <ion-item class="menu-item" menu-close ui-sref="changelocation" ng-click="menuGo('changelocation'); popover.hide()">
          {{'CHANGE_LOCATION' | translate}}
        </ion-item>
      </ion-list>
  </ion-content>
</ion-popover-view>