<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAKfX6LiXd56wqoYTiI_qtsub_tCU93NMs&libraries=places, geometry"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/angular-translate/angular-translate.min.js"></script>
    <script src="lib/ngmap/build/scripts/ng-map.min.js"></script>

    <script src="cordova.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>

  <body ng-app="placebook">
    <ion-nav-bar ng-controller="AppCtrl" class="header">
        <ion-nav-back-button class="button button-icon button-clear button-light ion-ios-arrow-back back-button">
        </ion-nav-back-button>
      <ion-nav-title>
          <img class="logo-img" src="img/logo.png">
      </ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear button-light ion-ios-search icon-right nav-buttons search-header-icon" ng-class="headerSearch" ng-click="searchGo()"></button>
        <button class="button button-icon icon-left button-clear button-light ion-navicon nav-buttons hamburger-icon" ng-class="headerHamburger" ng-click="popover.show($event); changeIcon()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
  </body>
</html>
