@font-face {
    font-family:Myriad Hebrew;
    src: url(../fonts/MyriadHebrew.otf);
}

body{
	font-size: 14px;
	font-family:Myriad Hebrew;
}

.spinner {
    stroke: #ffffff;
    fill: #ffffff;
}

ion-content {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #004ea0;
}

.background-blue-white{
	background-image: url(../img/background-categories.png);
	top: 101px;
}

ion-header-bar {
	background-color: #000000 !important;
	color: #fff;
}

.header{
	border-style: none;
	height: 100px;
	border-top: 1px solid #00569c;
}

.logo-img{
	width: 185px;
	height: auto;
}

.bar .title .title-left{
	top: 31px;
	margin-left: 20px;
}

.bar .title {
	top: 31px !important;
	right: 8vw !important;
    left: 0 !important;
}

.right-buttons{
	padding-top: 23px;
}

.nav-buttons {
	margin-top: 0px;
    margin-left: 5px;
    width: 45px !important;
}

.search-header-icon:before {
	font-size: 22px !important;
}

.header-active {
	color: #0081df !important;
}

.back-button {
	margin-top: 24px;
	width: 50px;
}

.back-text{
	display: none !important;
}

.default-title{
	display: none !important;
}

/* HOME PAGE */
.home {
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}

.home img {
	margin-top: 34vh;
}

.flags {
	text-align: center;
    margin-top: 87vh;
}

/* CATEGORIES - GRID */
.grid-item {
	width: 33.3vw;
    float: left;
    text-decoration: none;
    padding-top: 11px;
    height: 35vw;
}

.grid-item img {
    width: 60%;
}

.grid-item p {
	text-align: center;
    color: #fff;
    margin-top: 7px;
    font-size: 12px;
    line-height: 3.8vw;
}

.grid-item-dark {
	background-color: #0d111d;
    -webkit-box-shadow: 0 0 20px #0d111d;
    box-shadow: 0 0 20px #0d111d;
}

.grid-icon {
	width: 100%;
    text-align: center;
}

.grid-middle {
	border-right: 1px solid #2b77ae;
    border-left: 1px solid #2b77ae;
}

a.grid-item.activated {
    background-color: #0d111d;
    -webkit-box-shadow: 0 0 20px #0d111d;
    box-shadow: 0 0 20px #0d111d;
}

.grid-middle-selected .grid-middle {
	border: 0px solid #0d111d;
}

a.grid-item.activated .grid-middle {
    border: 0px solid #0d111d;
}


/*CATEGORY-SINGLE*/
.single-name{
	color: #f3f6fb !important;
	padding-bottom: 0px;
	margin-bottom: 0px !important;
	white-space: normal !important;
	font-size: 12px !important;
}

.distance-and-time{
	/*text-align: right;*/
	color: #f3f6fb !important;
	white-space: normal !important;
	font-size: 12px !important;
}

.single-list ion-item{
	background:transparent !important;
}

.single-list ion-item a{
	background:transparent !important;
}

/* SEARCH PAGE */
.ion-ios-search{
	color: #e9eef4;
	width: 21px;
}

.ion-ios-search-strong:hover{
	color: #e9eef4 !important;
}

.input-search{
	margin-top: 3px;
}

.search-position{
	padding-top: 4px;
	padding-bottom: 0px;
	background: #064d81;   
	background: -webkit-linear-gradient(-90deg, #003b80, #5297c6);
	background: -o-linear-gradient(-90deg, #003b80, #5297c6);
	background: -moz-linear-gradient(-90deg, #003b80, #5297c6);
	background: linear-gradient(-90deg, #003b80, #5297c6);
}

.search-form {
	width: 100%;
}

.search-form input {
	color: #dee7ee;
	width: 73%;
	float: left;
	border-radius: 3%;
	background: -webkit-linear-gradient(-90deg, #3f76a6, #73a3c2);
	background: -o-linear-gradient(-90deg, #3f76a6, #73a3c2);
	background: -moz-linear-gradient(-90deg, #3f76a6, #73a3c2);
	background: linear-gradient(-90deg, #3f76a6, #73a3c2);
	padding-left: 8px;
}

.search-btn{
	background-color: transparent !important;
	color: #0093ff !important;
}

.empty-search{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 42vh;
	color: #ffffff;
}

.item-content{
	cursor: pointer;
	background: transparent;
}

.item-complex{
	border-color: #5290bd !important;
}

.item-content.activated{
	background-color:#044c8e !important;
}

.single-list .no-sponsored-item.activated{
	background-color:#044c8e !important;
}

.single-list .search-single-item.activated{
	background-color:#044c8e !important;
}

.place-mail{
	color:#b8b8d4 !important;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px !important;
	white-space: normal !important;
	font-size: 12px !important;
}

.ion-android-arrow-back{
	color: #e9eef4 !important;
}

.single-item .item-content{
	padding: 5px 0px 6px 20px;
	border:none;
}

.single-item{
	box-shadow: 0px 3px 20px #104d86;
}

.no-sponsored-item{
	padding: 5px 0px 8px 20px;
	border-color: #5290bd !important;
}

.item-thumbnail-left, .item-thumbnail-left .item-content{
	padding-top: 46px;
	padding-left: 125px;
	min-height: 120px;
}

.search-form{
	padding-right: 20px;
}

.item-thumbnail-left{
	background-color: none;
}

/* SearchBox Animations */
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.single-list-row{
	padding-bottom: 0px;
}

.open{
	color:#33cc33 !important;
}

.close{
	color:#cc0000 !important;
}

.star-img{
	display: flex;
	justify-content: center;
	align-items: center;
}

.star-img img{
	margin-left: -13px;
	margin-right: 5px;
	width: 42px;
    height: auto;
    border-radius: 14%;
}

.navigation-icon-category-single{
	text-align: right;
}

input::-webkit-input-placeholder {
	color: #dfe7ee !important;
}

/*Map page*/

/*map footer*/

.place-footer-map{
	padding-top: 0px;
	padding-left: 5px;
	width: 100%;
}

.phone-image{
	color: #ffffff;
	width: 21px;
}

.place-details{
	margin-top: 10px;
	margin-left: 13px;
}

.icon-small-color{
	color: #d0dddf;
	font-size: 16px;
}

.footer-details{
	padding-left: 0px;
}

.position-details-text{
	margin-bottom: 2px;
	font-size: 17px;
	color: #b8c8dc;
}

.icon-text-details{
	padding-left: 0px;
}

.place-name-map{
	margin-top: 4px;
	margin-bottom: 3px;
	color: #ffffff;
	font-size: 19px;
}

.find-place-address{
	color: #fff !important;
}

.icon-small-1 {
	margin-left: 4px;
}
.icon-small-2 {
	margin-left: 4px;
	padding-right: 8px !important;
}

.bar.bar-assertive.bar-footer{
	height: 30vh;
	background: #0051a0;   
    background: -webkit-linear-gradient(left top, #0051a0, #5894bf);
    background: -o-linear-gradient(bottom right, #0051a0, #5894bf);
    background: -moz-linear-gradient(bottom right, #0051a0, #5894bf);
    background: linear-gradient(to top left, #0051a0, #5894bf);
	width: 100%;
}

.footer-ads {
	height: 0px important;
}

ng-map{
	height: 48vh;
	margin-top: 57px;
}

.card{
	height: 6vh;
	background-color: #6f58ee;
	margin:8px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-card{
	background-color: #01b9b7;
}

.item-text-wrap{
	padding: 0px 0px 0px 0px;
	background: transparent;
	text-align: center;
	color: #fdfdff;
}

.footer-cards{
	width: 100%;
}

.map-tabs-icon{
	margin-bottom: 30vh;
	background: #0071c2;
    background: -webkit-linear-gradient(#0071c2, #008ff6);
    background: -o-linear-gradient(#0071c2, #008ff6);
    background: -moz-linear-gradient(#0071c2, #008ff6);
    background: linear-gradient(#0071c2, #008ff6);
}

.map-tabs-icon img{
	margin-top: 11px;
	width: 24px;
}

.navigation-km-icon{
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 13px;
}

.km-distance{
	margin-bottom: 0px;
}

.raiting{
	font-size: 13px;
	padding-left: 0px;
	padding-bottom: 0px;
}

.star-img-map-footer{
	margin-top: 1px;
	height: 20px;
}

.star-img-map-footer img{
	width: 10px;
}

.raiting-number{
	margin-bottom: 0px;
}

.navigate-icon{
	color:#ffffff;
	padding-left: 0px !important;
}

.footer-img{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-img img{
	width: 30px;
    height: auto;
    border-radius: 14%;
}

.footer-number2{
	background: rgba(89,89,89,.5) !important;
	border:none;
	background-image:none !important;
	height: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.footer2-img{
	width: 100%;
	height: 100px;
	text-align: center;
}

.footer2-img img{
	width: 320px;
	height: 100px;
}

.footer2-exit-btn{
	position: absolute;
    float: left;
    font-size: 23px;
    height: 30px;
    width: 30px;
    text-align: left;
}

.slider-main-smaller{
	margin-top: 25px;
}

.footer-reklama-hide {
	display: none;
}

/*Map slider*/

.imageView .listContainer{
	background-color: transparent;
}
.scroll-view.scroll-xy{
	overflow-x: none;
	overflow-y: none;
}


/*map nb2*/

.transparent {
  background: transparent !important;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 2%;
}

.swipe-arrow-right {
	max-width: 50px;
    max-height: 50px;
    bottom: 30vw;
    right: 10%;
    margin: auto;
    overflow: auto;
    position: fixed;
}

.swipe-arrow-left {
	max-width: 50px;
    max-height: 50px;
    bottom: 30vw;
    left: 10%;
    margin: auto;
    overflow: auto;
    position: fixed;
}

.swipe-button-left {
	float: left;
	font-size: 50px;
}

.swipe-button-right {
	float: right;
	font-size: 50px;
}

.modal-close-div {
	width: 100%;
    height: 100%;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

.main-slider-pic{
	width: 105px;
	height: 105px;
}

.main-slider-pic img{
	width: 100%;
	border-radius: 5%;
}

.smaller-slider-pic{
	width: 29px;
	height: 29px;
	margin-right: 3px;
	margin-left: 3px;
}

.smaller-slider-pic img{
	width: 100%;
	height: 100%;
	border-radius: 5%;
}

.smaller-slider{
	margin-top: 6px;
}

.border-item{
	border: none;
}

@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

/*MAP*/

.gm-svpc{
	display: none;
}

.gmnoprint{
	display: none;
}

.gm-fullscreen-control{
	display: none;
}

/*MENU*/

/* popover */
.popover-arrow {
	display: none !important;
}

.platform-android .popover{
	margin-top:0px !important;
}

.platform-ios .popover{
	margin-top: 0px !important;
}

.popover {
	width: 100% !important;
	height: auto !important;
	left: 0 !important;
	top: 100px !important;
	border-radius: 0px !important;
}

.popover ion-content {
    top: 0;
    position: relative;
}

.popover .scroll-content {
	border-radius: 0px !important;
	margin: 0 !important;
}

.popover .item {
	height: 50px;
}

.menu-item{
	box-shadow: 0px 1px 11px 4px #104d86;
	border: none;
}

.menu-item a{
  	background: #0051a0;   
    background: -webkit-linear-gradient(left top, #0051a0, #5894bf);
    background: -o-linear-gradient(bottom right, #0051a0, #5894bf);
    background: -moz-linear-gradient(bottom right, #0051a0, #5894bf);
    background: linear-gradient(to bottom left, #0051a0, #5894bf);
	color: #fff;
	padding-right: 16px !important;
	text-align: center;
}


/*WEATHER*/
.weather {
    margin-top: 2vw;
    color: #fff;
}

.weather-name {
	font-size: 30px;
    padding-top: 20px;
}

.weather-name p {
	line-height: 30px;
}

.weather-temp {
	font-size: 25px;
    padding-top: 20px;
}

.weather-temp img {
    margin-top: -15px;
}

.weather-list {
	background-color: transparent;
    border: 0px;
}

.weather-list-temp p {
	color: #fff !important;
	font-size: 15px;
}

.weather-list-date {
	padding-top: 17px;
}
.weather-list-date p {
	color: #fff !important;
	font-size: 17px;
}


/*SETTINGS*/
.settings-divider {
	background-color: transparent;
    border: 0px;
}

.settings-divider p {
	font-weight: bold;
	color: #babbbc;
}

.settings-langs .item-content, .item-radio .item-content {
	background-color: transparent;
}

.settings-langs .item-radio input:checked + .radio-content .item-content {
	background-color: transparent;
}

.settings-langs label {
	background-color: transparent !important;
	color: #fff;
	border: 0px;
}

.ion-checkmark {
	color: #23ff7b;
}

.flag {
	float: left;
	margin-right: 5px;
	padding-top: 2px;
}
.flag img {
	width: 30px;
	height: 15px;
}

.change-format {
	margin-top: 30px;
}

/*Search nb.2*/
.search-single-item{
	box-shadow: none;
	border: none;
}

.search-single-item{
	padding-top: 0px;
	padding-bottom: 0px;
}

/* Media queries */

/* iPhone 5 */
@media only screen and (max-width: 320px) {
    .grid-item p {
    	font-size: 11px;
	}

	.flags {
	    margin-top: 88vh;
	}

	/*CATEGORY-SINGLE*/

	.distance-and-time{
		padding-left: 0px;
		padding-right: 0px;
		/*font-size: 10px !important;*/
	}

	.free-places{
		margin-left: 6px;
	}

	/*MAP*/

	.place-name-map{
		font-size: 16px;
		margin-top: 4px;
		margin-bottom: 3px;
	}

	.img-place-footer img{
		width: 13vh;
	}

	.bar.bar-assertive.bar-footer{
		height: 30vh;
		padding-top: 0px;
	}

	.map-tabs-icon{
		margin-bottom: 30vh;
	}

	ng-map{
		height: 45vh;
	}

	.position-details-text{
		font-size: 15px;
	}

	.icon-text-details{
		margin-top: 0px;
		font-size: 11px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.navigation-km-icon{
		font-size: 12px;
	}

	.raiting-number{
		font-size: 10px;
	}

	.slider-main-smaller {
		margin-top: 15px;
	}

	.main-slider-pic{
		width: 90px;
		height: 90px;
	}

	.smaller-slider-pic{
		width: 24px;
    	height: 24px;
	}

	.single-item .item-content{
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.no-sponsored-item{
		padding: 3px 0px 4px 20px;
	}

	.footer-number2{
	height: 60px;
	}

	.footer2-img{
	width: 100%;
	height: 60px;
	text-align: center;
	}

	.footer2-img img{
		width: 240px;
		height: 60px;
	}
}

/* iPhone 4 */
@media only screen and (max-height: 480px) {

	.place-name-map{
		font-size: 14px;
		margin-top: 0px;
		margin-bottom: 3px;
	}

	.position-details-text{
		font-size: 13px;
	}

	.swipe-arrow-right {
		bottom: 20vw;
		width: 50px;
		height: 50px;
	}

	.swipe-button-right {
		font-size: 40px;
	}

	.swipe-arrow-left {
		bottom: 20vw;
		width: 50px;
		height: 50px;
	}

	.swipe-button-left {
		font-size: 40px;
	}
	
}

/* iPhone 6 Plus */
@media only screen and (min-width: 414px) {
	.grid-item p {
    	font-size: 13px;
	}

	.flags {
	    margin-top: 87vh;
	}


	.free-places{
		margin-left: -4px;
	}

	/*MAP*/
	.bar.bar-assertive.bar-footer{
		height: 28vh;
	}

	.map-tabs-icon{
		margin-bottom: 28vh;
	}

	ng-map{
		height: 52vh;
	}
}

/* Nexus 6P */
@media only screen and (min-width: 412px) {

	ng-map{
		height: 50vh;
	}
}

/* NEXUS 7 */
@media only screen and (min-width: 600px) {
    .grid-item {
	    margin-top: 18px;
	    padding-top: 20px;
	}

    .grid-item p {
	    margin-top: 15px;
    	font-size: 17px;
	}

	.flags {
	    margin-top: 87vh;
	}


	/*CATEGORY-SINGLE*/

	.km-and-min{
		margin-left: 60px;
	}

	.footer-cards{
		margin-top: 30px;
	}

	.free-places{
		margin-left: -22px;
	}

	/*MAP*/
	.bar.bar-assertive.bar-footer{
		height: 23vh;
	}

	.map-tabs-icon{
		margin-bottom: 23vh;
	}

	ng-map{
		height: 62vh;
	}

	.bar-assertive{
		padding-left: 10vh;
    	padding-right: 9vh;
	}

	.single-item .item-content{
		padding-top: 23px;
		padding-bottom: 23px;
	}

	.no-sponsored-item{
		padding-top: 23px;
		padding-bottom: 23px;
	}
}

/* iPad Mini */
@media only screen and (min-width: 768px) {
    .grid-item {
	    margin-top: 18px;
	    padding-top: 25px;
	}

    .grid-item p {
	    margin-top: 20px;
    	font-size: 19px;
	}

	.flags {
	    margin-top: 87vh;
	}


	.free-places{
		margin-left: -39px;
	}

	/*CATEGORY-SINGLE*/

	.km-and-min{
		margin-left: 105px;
	}

	.bar.bar-assertive.bar-footer{
		height: 22vh;
	}

	.map-tabs-icon{
		margin-bottom: 22vh;
	}

	ng-map{
		height: 64vh;
	}

	.bar-assertive{
		padding-left: 13vh;
    	padding-right: 11vh;
	}

	.swipe-arrow-right {
		bottom: 20vw;
		width: 70px;
		height: 70px;
	}

	.swipe-button-right {
		font-size: 60px;
	}

	.swipe-arrow-left {
		bottom: 20vw;
		width: 70px;
		height: 70px;
	}

	.swipe-button-left {
		font-size: 60px;
	}
}

/* NEXUS 10 */
@media only screen and (min-width: 800px) {
    .grid-item {
	    margin-top: 20px;
	    padding-top: 25px;
	}

    .grid-item p {
	    margin-top: 20px;
	    font-size: 22px;
	}

	.flags {
	    margin-top: 88vh;
	}


	/*CATEGORY-SINGLE*/

	.km-and-min{
		margin-left: 90px;
	}

	.footer-cards{
		margin-top: 50px;
	}

	.free-places{
		margin-left: -43px;
	}

	/*MAP*/
	.bar.bar-assertive.bar-footer{
		height: 18vh;
	}

	.map-tabs-icon{
		margin-bottom: 18vh;
	}

	ng-map{
		height: 71vh;
	}

	.bar-assertive{
		padding-left: 13vh;
    	padding-right: 12vh;
	}

	.single-item .item-content{
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.no-sponsored-item{
		padding-top: 32px;
		padding-bottom: 32px;	
	}

	.swipe-arrow-right {
		bottom: 26vw;
		width: 70px;
		height: 70px;
	}

	.swipe-button-right {
		font-size: 60px;
	}

	.swipe-arrow-left {
		bottom: 26vw;
		width: 70px;
		height: 70px;
	}

	.swipe-button-left {
		font-size: 60px;
	}
}

/* Latest changes */
.weather-list {
	padding-bottom: 0 !important;
}

.weather-list-date {
	padding-top: 5px;
}

.weather-list-date p {
	font-size: 22px;
}

.weather-list-date-time p {
	font-size: 16px;
}

.weather-celsius p {
	font-size: 16px;
}

.forecast-img img {
	margin-top: -14px;
}